n8n-workflow-fixed.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Process incoming webhook data\nconst script = $input.item.json.body.script;\nconst title = $input.item.json.body.title;\nconst userId = $input.item.json.body.user_id;\n\n// Generate unique job ID\nconst timestamp = Date.now();\nconst random = Math.random().toString(36).substr(2, 9);\nconst jobId = `video_${timestamp}_${random}`;\n\n// Create safe filename\nconst safeTitle = title.replace(/[^a-z0-9]/gi, '_').toLowerCase();\nconst filename = `${safeTitle}_${timestamp}.mp4`;\nconst filePath = userId ? `${userId}/${filename}` : filename;\n\n// Prepare script JSON for Remotion\nconst scriptJson = JSON.stringify({ script });\n\nreturn {\n  script,\n  title,\n  userId,\n  jobId,\n  filename,\n  filePath,\n  scriptJson,\n  timestamp,\n  bundlePath: `/tmp/bundle-${jobId}`,\n  videoPath: `/tmp/${filename}`\n};"
      },
      "name": "Process Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [96, -240]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cd /root/shorts-factory && npx remotion bundle src/remotion/index.tsx {{$json.bundlePath}}"
      },
      "name": "Bundle Remotion",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [352, -240],
      "credentials": {
        "sshPrivateKey": {
          "id": "CAsKXOruTFedmSJS",
          "name": "Localhost SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preserve data from previous node\nconst previousData = $('Process Input').item.json;\nconst sshOutput = $input.item.json.stdout;\n\nreturn {\n  ...previousData,\n  bundleOutput: sshOutput\n};"
      },
      "name": "Preserve Data After Bundle",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [544, -240]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "cd /root/shorts-factory && npx remotion render {{$json.bundlePath}} VideoComposition {{$json.videoPath}} --props='{{$json.scriptJson}}'"
      },
      "name": "Render Video",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [736, -240],
      "credentials": {
        "sshPrivateKey": {
          "id": "CAsKXOruTFedmSJS",
          "name": "Localhost SSH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preserve data from Process Input node\nconst previousData = $('Process Input').item.json;\nconst renderOutput = $input.item.json.stdout;\n\nreturn {\n  ...previousData,\n  renderOutput: renderOutput\n};"
      },
      "name": "Preserve Data After Render",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [928, -240]
    },
    {
      "parameters": {
        "filePath": "={{$json.videoPath}}"
      },
      "name": "Read Video File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [1120, -240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://qgbxduvipeadycxremqa.supabase.co/storage/v1/object/rendered-videos/{{$json.filePath}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "binaryData",
        "options": {}
      },
      "name": "Upload to Supabase Storage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1312, -240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "G9PGpwcAxP5YAcEE",
          "name": "Header supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Preserve data and build video URL\nconst previousData = $('Process Input').item.json;\nconst supabaseUrl = 'https://qgbxduvipeadycxremqa.supabase.co';\nconst filePath = previousData.filePath;\nconst videoUrl = `${supabaseUrl}/storage/v1/object/public/rendered-videos/${filePath}`;\n\nreturn {\n  ...previousData,\n  videoUrl\n};"
      },
      "name": "Build Video URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1504, -240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qgbxduvipeadycxremqa.supabase.co/rest/v1/social_videos",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"user_id\": \"{{ $json.userId }}\",\n  \"title\": \"{{ $json.title }}\",\n  \"script\": {{ JSON.stringify($json.script) }},\n  \"video_url\": \"{{ $json.videoUrl }}\"\n}",
        "options": {}
      },
      "name": "Save to Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1696, -240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "G9PGpwcAxP5YAcEE",
          "name": "Header supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"success\": true,\n  \"video_url\": $json.videoUrl,\n  \"job_id\": $json.jobId,\n  \"filename\": $json.filename\n} }}",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1888, -240]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "=rm -f {{$('Process Input').item.json.videoPath}} && rm -rf {{$('Process Input').item.json.bundlePath}}"
      },
      "name": "Cleanup Temp Files",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [1888, -64],
      "credentials": {
        "sshPrivateKey": {
          "id": "CAsKXOruTFedmSJS",
          "name": "Localhost SSH"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "render-video",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-96, -240],
      "webhookId": "shorts-factory-render"
    }
  ],
  "connections": {
    "Process Input": {
      "main": [[{"node": "Bundle Remotion", "type": "main", "index": 0}]]
    },
    "Bundle Remotion": {
      "main": [[{"node": "Preserve Data After Bundle", "type": "main", "index": 0}]]
    },
    "Preserve Data After Bundle": {
      "main": [[{"node": "Render Video", "type": "main", "index": 0}]]
    },
    "Render Video": {
      "main": [[{"node": "Preserve Data After Render", "type": "main", "index": 0}]]
    },
    "Preserve Data After Render": {
      "main": [[{"node": "Read Video File", "type": "main", "index": 0}]]
    },
    "Read Video File": {
      "main": [[{"node": "Upload to Supabase Storage", "type": "main", "index": 0}]]
    },
    "Upload to Supabase Storage": {
      "main": [[{"node": "Build Video URL", "type": "main", "index": 0}]]
    },
    "Build Video URL": {
      "main": [[{"node": "Save to Database", "type": "main", "index": 0}]]
    },
    "Save to Database": {
      "main": [[
        {"node": "Respond to Webhook", "type": "main", "index": 0},
        {"node": "Cleanup Temp Files", "type": "main", "index": 0}
      ]]
    },
    "Webhook": {
      "main": [[{"node": "Process Input", "type": "main", "index": 0}]]
    }
  }
}
